body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d19770;
}

.Page{
    background-color: #fff8ed;
    width: 600px;
    height: 320px;
    box-shadow: 0 0 60px rgba(0,0,0,0.2);
    padding: 80px ;
    padding-top: 25px;
    padding-bottom: 100px;

}
.input-container{
    display: flex;
    align-items: center; 
}
.input-container .validation{
    font-style: italic;
    margin-left: 15px;
}
#registrationButton{
  background-color: #fff8ed;
  font-size: 17px;
  font-style: italic;
    border-bottom: 2px solid #ccc;
      border: none; 
    outline: none; 
}
select{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}
p{
font-style:italic;
font-weight: bolder;
}
input{
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 8px;
  margin-top: 15px;
  gap: 50px;
}

button{
    background-color: #facbac;
    margin-top: 5px;
    padding: 7px;

}
